<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <br>
        <h1 style="color: white; margin-top: 10%;">Hello User</h1><br>
        <h4 style="color: white;">Welcome to recruitment process<br>
        Connect with us & register to contact us</h4>
        <div class="form-group">
            
            <button type="submit" class="btn btn-default" routerLink="register" disabled>
                <span></span>Welcome</button>>
            <br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
          
    </div>
</body>
</html>