<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <br><br>
        <h2 style="color: white; margin-top: 10%;">We are leaders in...</h2>
        <h1 style="color: white; font-family:cursive;">Creative Digital Recruitment</h1>
        <br>
        <p style="color: white;">Based in Surry hills, the creative hub of Sydney <br>
            we are surrounded creativity and that reflects on type of jobs we recruit.</p>
        <footer style="color: white;">
            <br><br><br><br><br><br><br><br><br><br><br><br>
            ©2022 All Rights Reserved. <br>Designed by Prayag Gharat
        </footer>
          
    </div>
</body>
</html>