form{
     background:url(../../assets/images/a11.webp); width: 100%; text-align: center;
     background-repeat: no-repeat; background-size: cover;
}

h3{
    color: white; font-family: cursive; background: linear-gradient(57deg,#00c6a7, #1e4d92); padding: 10px;
}

p{
    color: white; font-size: 16px;
}