<form>
    <br><br><br><br><br>
<h3>☆☆☆   Profile   ☆☆☆</h3><br>
<p>
    Hello, My name is {{data.name}}.<br>
    I am {{data.age}} years old.<br>
    I am living in {{data.city}} in {{data.state}},{{data.country}}.<br>
    You can send me mails on {{data.email}}.<br>
    I am interested in {{data.interests}}.<br>
    You can also contact me on +91 {{data.phone}}.
</p>

<br><br><br><br><br><br><br><br><br><br>
<footer style="color: white;">
    ©2022 All Rights Reserved. <br>Designed by Prayag Gharat
</footer>
</form>